<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/js/common.js"></script>
  <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/account.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <title>Document</title>
    <script>
    const user_id = '{{user.user_id}}';
    console.log('{{user.user_id}}');
  </script>
</head>

<body>
  <header>
    <div class="banner">TODO'S</div>
    <nav>
      <ul>
        <li><a href="/">about</a></li>
        <li><a href="/todo/daily">daily</a></li>
        <li><a href="/todo/weekly">weekly</a></li>
      </ul>
      <div class="account">
        {{#if user}}
          <div class="circle orange"></div>
          {{user}}
          <button id="btn-logout">logout</button>
        {{else}}
          <div class="circle"></div>
          <a href="/account/login" id="btn-login">login</a>
        {{/if}}
        {{!-- <button id="login-page-btn">login</button> --}}
      </div>
    </nav>
  </header>
  <section class="content-wrap">
    {{{body}}}
  </section>
  <aside></aside>
  <footer></footer>
</body>
</html>